.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    padding: 1.5em;
    background-color: #98FB98;
    transition: all .2s ease-in-out;
    margin-bottom: 3em;
}

.box:hover {
  scale: 120;
	transform: scale(1.2);
}

.icon {
  width: 3.5em;
}

@media only screen and (max-width: 400px) {
  .box {
      padding: .5em;
      margin-bottom: 2em;
  }

  .icon {
    width: 3em;
  }
}

@media only screen and (max-width: 600px) {
    .box {
        padding: 2em;
        margin-bottom: 2em;
    }
}

/* wide screen mode */
@media only screen and (min-width: 1000px) {
    .container {
      justify-content: flex-end;
    }

    .box {
      margin-left: 2em;
    }
}
